## Data from World Happiness Report

The World Happiness Report is an annual publication of the United Nations Sustainable Development Solutions Network. It contains articles, and rankings of national happiness based on respondent ratings of their own lives, which the report also correlates with various life factors.

In this notebook we will explore the happiness of different countries and the features associated.
The datasets that we will use are available in *Data*: **happiness2020.pkl** and **countries_info.csv**.

Although the features are self-explanatory, here a summary: 

**happiness2020.pkl**
* country: *Name of the country*
* happiness_score: *Happiness score*
* social_support: *Social support (mitigation the effects of inequality)*
* healthy_life_expectancy: *Healthy Life Expectancy*
* freedom_of_choices: *Freedom to make life choices*
* generosity: *Generosity (charity, volunteers)*
* perception_of_corruption: *Corruption Perception*
* world_region: *Area of the world of the country*

**countries_info.csv**
* country_name: *Name of the country*
* area: *Area in sq mi*
* population: *Number of people*
* literacy: *Literacy percentage*

In [2]:
!head Data/countries_info.csv

country_name,area,population,literacy
afghanistan,647500,31056997,"36,0"
albania,28748,3581655,"86,5"
algeria,2381740,32930091,"70,0"
argentina,2766890,39921833,"97,1"
armenia,29800,2976372,"98,6"
australia,7686850,20264082,"100,0"
austria,83870,8192880,"98,0"
azerbaijan,86600,7961619,"97,0"
bahrain,665,698585,"89,1"

In [3]:
import pandas as pd
%matplotlib inline

DATA_FOLDER = 'Data/'

HAPPINESS_DATASET = DATA_FOLDER+"happiness2020.pkl"
COUNTRIES_DATASET = DATA_FOLDER+"countries_info.csv"

## Task 1: Load the data

Load the 2 datasets in Pandas dataframes (called *happiness* and *countries*), and show the first rows.


**Hint**: Use the correct reader and verify the data has the expected format.

In [4]:
# Write your code here
happiness = pd.DataFrame(pd.read_pickle(HAPPINESS_DATASET))
countries = pd.read_csv(COUNTRIES_DATASET)
happiness['country'] = happiness['country'].str.lower()

display(happiness.head())
countries.head()

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region
0,afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia
1,albania,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe
2,algeria,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa
3,argentina,5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean
4,armenia,4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States

  country_name     area  population literacy
0  afghanistan   647500    31056997     36,0
1      albania    28748     3581655     86,5
2      algeria  2381740    32930091     70,0
3    argentina  2766890    39921833     97,1
4      armenia    29800     2976372     98,6

## Task 2: Let's merge the data

Create a dataframe called *country_features* by merging *happiness* and *countries*. A row of this dataframe must describe all the features that we have about a country.

**Hint**: Verify that all the rows are in the final dataframe.

In [5]:
# Write your code here
happiness.index.is_unique
# happiness.head()
country_features = countries.join(happiness.set_index('country'), on='country_name')
country_features.head()

,country_name,area,population,literacy,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region
0,afghanistan,647500,31056997,"36,0",2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia
1,albania,28748,3581655,"86,5",4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe
2,algeria,2381740,32930091,"70,0",5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa
3,argentina,2766890,39921833,"97,1",5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean
4,armenia,29800,2976372,"98,6",4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States

## Task 3: Where are people happier?

Print the top 10 countries based on their happiness score (higher is better).

In [6]:
# Write your code here
country_features.sort_values(by='happiness_score', ascending=False)[['country_name', 'happiness_score']].head(10)

    country_name  happiness_score
38       finland           7.8087
31       denmark           7.6456
115  switzerland           7.5599
50       iceland           7.5045
92        norway           7.4880
87   netherlands           7.4489
114       sweden           7.3535
88   new zealand           7.2996
6        austria           7.2942
72    luxembourg           7.2375

We are interested to know in what world region people are happier. 

Create and print a dataframe with the (1) average happiness score and (2) the number of contries for each world region.
Sort the result to show the happiness ranking.

In [55]:
# Write your code here
pd.option_context("display.multi_sparse", True)
world_region_features = country_features.groupby(['world_region'])
df = pd.DataFrame(world_region_features['country_name'].count())
df.columns = ['number_of_countries']
df['mean_hapiness'] = world_region_features.mean(numeric_only=True)['happiness_score']
df.sort_values(by='mean_hapiness', ascending=False)

                                    number_of_countries  mean_hapiness
world_region
North America and ANZ                                 4       7.173525
Western Europe                                       20       6.967405
Latin America and Caribbean                          20       5.971280
Central and Eastern Europe                           14       5.891393
Southeast Asia                                        8       5.517788
East Asia                                             3       5.483633
Commonwealth of Independent States                   12       5.358342
Middle East and North Africa                         16       5.269306
Sub-Saharan Africa                                   32       4.393856
South Asia                                            6       4.355083

The first region has only a few countries! What are them and what is their score?

In [63]:
# Write your code here
country_features.query("world_region == 'North America and ANZ'")[['country_name', 'happiness_score']]

      country_name  happiness_score
5        australia           7.2228
21          canada           7.2321
88     new zealand           7.2996
127  united states           6.9396

## Task 4: How literate is the world?

Print the names of the countries with a level of literacy of 100%. 

For each country, print the name and the world region in the format: *{region name} - {country name} ({happiness score})*

In [81]:
# Write your code here
country_features['literacy'] = country_features['literacy'].apply(lambda x: str(x).replace(',', '.')).astype(float)
resp = country_features[country_features.literacy >= 100][['world_region', 'country_name', 'happiness_score']]
for row in resp.values:
    print(f"{row[0]} - {row[1]} ({row[2]:.2f})")

North America and ANZ - australia (7.22)
Western Europe - denmark (7.65)
Western Europe - finland (7.81)
Western Europe - luxembourg (7.24)
Western Europe - norway (7.49)

What is the global average?

In [82]:
# Write your code here
country_features['literacy'].mean()

81.85112781954888

Calculate the proportion of countries with a literacy level below 50%. Print the value in percentage, formatted with 2 decimals.

In [89]:
# Write your code here
val = country_features[country_features.literacy < 50].size / country_features.size * 100
print(f"{val:.2f}")

11.85

Print the raw number and the percentage of world population that is illiterate.

In [92]:
# Write your code here
num_illiterate = (country_features['population'] * (1-country_features['literacy']/100)).sum()
percentage = num_illiterate / country_features['population'].sum() * 100
print(f"Number of iliiterate people: {num_illiterate:.0f} ({percentage:.2f}%)")

Number of iliiterate people: 1249372988 (20.33%)

## Task 5: Population density

Add to the dataframe a new field called *population_density* computed by dividing *population* by *area*.

In [101]:
# Write your code here
country_features.sort_values(by='happiness_score', ascending=False).head(15)

,country_name,area,population,literacy,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region
38,finland,338145,5231372,100.0,7.8087,0.954330,71.900825,0.949172,-0.059482,0.195445,Western Europe
31,denmark,43094,5450661,100.0,7.6456,0.955991,72.402504,0.951444,0.066202,0.168489,Western Europe
115,switzerland,41290,7523934,99.0,7.5599,0.942847,74.102448,0.921337,0.105911,0.303728,Western Europe
50,iceland,103000,299388,99.9,7.5045,0.974670,73.000000,0.948892,0.246944,0.711710,Western Europe
92,norway,323802,4610820,100.0,7.4880,0.952487,73.200783,0.955750,0.134533,0.263218,Western Europe
87,netherlands,41526,16491461,99.0,7.4489,0.939139,72.300919,0.908548,0.207612,0.364717,Western Europe
114,sweden,449964,9016596,99.0,7.3535,0.926311,72.600769,0.939144,0.111615,0.250880,Western Europe
88,new zealand,268680,4076140,99.0,7.2996,0.949119,73.202629,0.936217,0.191598,0.221139,North America and ANZ
6,austria,83870,8192880,98.0,7.2942,0.928046,73.002502,0.899989,0.085429,0.499955,Western Europe
72,luxembourg,2586,474413,100.0,7.2375,0.906912,72.599998,0.905636,-0.004621,0.367084,Western Europe
21,canada,9984670,33098932,97.0,7.2321,0.927177,73.601601,0.933913,0.124771,0.390843,North America and ANZ
5,australia,7686850,20264082,100.0,7.2228,0.944855,73.604538,0.915432,0.190460,0.415169,North America and ANZ
126,united kingdom,244820,60609153,99.0,7.1645,0.936683,72.301605,0.834744,0.263732,0.435916,Western Europe
56,israel,20770,6352117,95.4,7.1286,0.913571,73.200256,0.747581,0.102594,0.780855,Middle East and North Africa
27,costa rica,51100,4075261,96.0,7.1214,0.901546,71.299850,0.934739,-0.102430,0.786332,Latin America and Caribbean

What is the happiness score of the 3 countries with the lowest population density?

In [13]:
# Write your code here

## Task 6: Healty and happy?

Plot in a scatter plot the happiness score (x) and healty life expectancy (y).

In [14]:
# Write your code here

Feel free to continue the exploration of the dataset! We'll release the solutions next week.

----
Enjoy EPFL and be happy, next year Switzerland must be #1.